body{
    font-family: Arial, Helvetica, sans-serif;
}
#d1{
    position: absolute;
    float:right;
    top:130px;
    right:360px;
}
body{
    font-family: Calibri;

}
.cname{
    z-index: -1;
}
fieldset{
  border: none;
  width: 600px;
  margin:auto;
  text-align: center;
  border: 2px solid rgb(106,184,42);
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(229, 249, 212);
  height:500px;
 
}
h2{
    position: relative;
    float: right;
    right:600px;
    top:70px;
}
table {
  border-spacing: 5px;
}

#i1{
    position: absolute;
    float:right;
    top:500px;
    left:300px;
    background-color: rgb(106,184,42);
    height:auto;
    cursor: pointer;
    width:60px;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
}
  
   
   
   

.star{
    color:red;
}