#d1{
    position:absolute;
    left:580px;
    top:170px;
    width: 13%;
	border-top: 1px solid #CFD8DC;
	border-bottom: 2px solid #CFD8DC ;
	border-right: 1px solid #CFD8DC ;
	border-left: 1px solid #CFD8DC ;
    height:12%;
   }

h2{
    position: absolute;
    left: 580px;
    top:45px;
}
#d2{
    position:absolute;
    left:580px;
    top:270px;
}
#cart{
    position:absolute;
    left:950px;
    top:240px;
    
}
#add{
    position: absolute;
    top:200px;
    left: 150px;
}
#load{
    position: absolute;
    left:620px;
}