body{
    font-family: Arial, Helvetica, sans-serif;
}

#d1{
    position: absolute;
    float:right;
    top:110px;
    right:400px;
}
#d2{
    position: absolute;
    float: right;
    right:50px;
    top:150px;
}
#us_table{
	border-bottom:1px solid #ddd;
	margin: 10px;
	width: 90%;
}
li{
	list-style: none;
}

 #us_table th, td{
	border-bottom:1px solid #ddd;
	border-collapse: collapse;
}

#us_table th{
	height: 40px;
	width: 150px;
	font-family: arial;
	background-color: #6AB82A;
}

#us_table td{
	height: 30px;
	text-align: center;
	font-family: sans-serif;
	font-size: medium;
}

#us_table td:hover{
	background-color: #f5f5f5;
}

#medname{
	border-style: hidden; 
	width: 90%;
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	margin:8px;
	text-align: center;
	font-size: larger;
}
#medname:focus{
	border-bottom: 1px solid black;
}

#notfound{
	list-style: none;
	font-size: medium;
	font-family: sans-serif;
	color: #FF5722;
	margin: 5px;
	text-align: center;
}


#d1{
	width: 24%;
	border-top: 1px solid #CFD8DC;
	border-bottom: 2px solid #CFD8DC ;
	border-right: 1px solid #CFD8DC ;
	border-left: 1px solid #CFD8DC ;
}
#load{
	display: block;
	text-align: center;
	width:50%;
	margin: 0 auto;
	
    height:20px;
    cursor: pointer;
    
    width:70px;
	
}
#load:hover{
    background-color: #6AB82A;
}
