body{
    font-family: Arial, Helvetica, sans-serif;
}

#search_box{
    position: absolute;
    float:right;
    top:110px;
    right:500px;
}
/*
#update_box{
    position: absolute;
    float: right;
    right:600px;
    top:330px;
}
*/

#us_table{
	border-bottom:1px solid #ddd;
	margin: 10px;
	width: 90%;
}
h2{
     position: absolute;
    float: right;
    right:600px;
    top:30px;
    
}
li{
	list-style: none;
}

 #us_table th, td{
	border-bottom:1px solid #ddd;
	border-collapse: collapse;
}

#us_table th{
	height: 40px;
	width: 150px;
	font-family: arial;
	background-color: #6AB82A;
}

#us_table td{
	height: 30px;
	text-align: center;
	font-family: sans-serif;
	font-size: medium;
}

#us_table td:hover{
	background-color: #f5f5f5;
}

#companyname{
	border-style: hidden; 
	width: 90%;
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	margin:8px;
	text-align: center;
	font-size: larger;
}
#companyname:focus{
	border-bottom: 1px solid black;
}

#notfound{
	list-style: none;
	font-size: medium;
	font-family: sans-serif;
	color: #FF5722;
	margin: 5px;
	text-align: center;
}


#search_box{
	width: 24%;
	border-top: 1px solid #CFD8DC;
	border-bottom: 2px solid #CFD8DC ;
	border-right: 1px solid #CFD8DC ;
	border-left: 1px solid #CFD8DC ;
}


#load{
	display: block;
	text-align: center;
	width:50%;
	margin: 0 auto;
	
    height:20px;
    cursor: pointer;
    
    width:70px;
	
}
#load:hover{
    background-color: #6AB82A;
}

#tbl td{
	padding: 5px;
    border-bottom: none;
}

#tbl{
   border-spacing: 6px;
    position: relative;
   left: 132px;
}
#search{
    position:absolute;
    
    left:110px;
}

#update_box{
	position: relative;
    float: right;
    left: 1%;
    top: 45%;
    width: 100%;
}
#i1{
    text-align: center;
    position:absolute;
    float: left;
    right: 5px;
    top:300px;
  
    height:20px;
    cursor: pointer;
   
    width:70px;
    
}
#i1:hover{
    background-color: #f1f8e9;
}
fieldset{
  border: none;
  width: 600px;
  margin:auto;
  text-align: center;
  border: 2px solid rgb(106,184,42);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 50px;
  background-color: rgb(229, 249, 212);
/*  height:500px;*/
 
}
.star{
    color:red;
    font-weight: bold;
}
