.timeselect {
    position: relative;
    right: -200px;
    padding-top: 15px;

}
.ch1 {
    
    padding-top: 10px;
    position: relative;
    left: 170px;
    top: -10px;

}
root { 
    display: block;
}

.type {
    width: 280px;
    padding: 4px;

}
.inputField
{
    width: 280px;
    padding: 4px;
}
.drugBox {
    width: 280px;
    padding: 4px;
}
label
{
    float: left;
    width: 150px;
    font-size: 18px;
    margin: 10px;

}

fieldset{
    border: none;
    width: 600px;
    margin:auto;
    text-align: left;
    border: 2px solid rgb(106,184,42);
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(229, 249, 212);
    padding-left: 100px;
}
#entryDate {
    width: 165px;
}

.day {
    display: none;
}
.weekdays {
    display: none;
}
.ts1{
    padding-top: 10px;
}

.ts2 {
    display: none;
    position: relative;
    padding-left: 100px;
}
.ts3 {
    display: none;
    position: relative;
    left: 70px;
    padding-left: 100px;
    padding-bottom: 20px;
}
input[type=submit] {
    width: 100px;
    height: 40px;
    position: relative;
    left: 180px;
    background-color: rgb(106,184,42);
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;

}
#entryDate {
    width: 280px;
    padding: 4px;
}/* 
    Document   : reminder
    Created on : Nov 27, 2016, 6:45:33 AM
    Author     : Mithsen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

