.customer_template_container {
    top: 80px;
}
html {
    font-family: Segoe,Segoe UI,Optima,Arial,sans-serif;
}

h2 {
    text-align: center;
}

.top-bar {
    width: 90%;
    margin-top: 20px;
    margin: 20px auto;
    height: 50px;
}

.top-bar select, input {
    width: 200px;
    margin-left: 15px;
}

.top-bar .left-float {
    margin-left: 10px;
    float: left;
}

.top-bar .icon {
    margin-left: 16px;
}

.content {
    width: 98%;
    margin: 20px auto;
}

.content table {
    border-collapse: collapse;
    width: 100%;
}

.content table th {
    font-family: inherit;
    font-weight: 100 !important;
    padding: 10px 0 10px 0;
    color: black;
    background-color: rgb(214,244,185);
}

.content table td {
    padding: 4px 0px 4px 8px;    
}

.content table tr {
    color: black;
}

.content table tr:hover {
    background-color: rgb(229,249,212);
    color: black;
}

.left-float {
    float: left;
}