.customer_template_container{
    margin-left: 200px;
    
}
body{
    font-family: "Arial";
    background-color: #F1F8E9;
    margin: 0px;
}

/* Heading bar css */
.mainHeader{
    float: right;
    margin-left: 200px;
    padding-left:15px;
    width:calc(100% - 210px);
    background-color:#6AB82A;
    height:50px;
    position: fixed;
    z-index: -1;
}

.header_content{    
    position:relative;
    top:0px;
    
}

/* navigation panel styles*/

.nav{
    height: 100%;
    position: fixed;
    padding-top: 20px;
    background-color:#263238; 
}

.mainmenu {
    font-size: 16px;
    padding: 0;
    width: 200px;
    height: 100%;
    padding-top: 20px;
}

.mainmenu > li {
    box-sizing: border-box;
    height: 48px;
    color: #f7f1e3;
    border-bottom: 2px solid #263238;
    background-color: #6AB82A;
}

.mainmenu > a {
    text-decoration: none;
    color: white;
    display: block;
}


.mainmenu > li span {
    line-height: 48px;
    display: block;
    padding-left: 20px; 
}

.mainmenu > li .icon {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    padding: 14px 20px 0 20px;
}

.mainmenu > li .messages {
    font-size: 11px;
    line-height: 19px;
    display: block;
    float: right;
    width: 34px;
    height: 18px;
    margin-top: -33px;
    margin-right: 19px;
    padding: 0;
    text-align: center;
    background: url("../image/arrow-icon.png") no-repeat;
}

.expand-triangle {
    width: 276px;
    content: " ";
}

.expand-triangle img {
    width: inherit;
    height: inherit;
    margin-left: -40px;
    vertical-align: top;
}

/*------------ Sub Menu ------------*/
.submenu {
    font-size: 13px;
    box-sizing: border-box;
    content: " ";
    color: #ae9f9f;
}

.submenu li {
    line-height: 20px;
    height: 35px;
    margin-left: -40px;
    padding-top: 11px;
    transition: border-left 220ms ease-in;
    border-left: solid 6px #484141;
    background-color: #484141;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 6px #96d145;
}

.submenu li:hover {
    border-left: solid 6px #d05942;
}

.submenu li span a{
    margin-left: 30px;
    display: block;
    text-decoration: none;
    color: white;
}

.logo{
    height: 50px;
    width: 190px;
}

.customer_template_container {
    position: relative;
  
   
}


/*--------------------------------------- Notification area css* -------------------------------------*/



.notification_area{
    margin-left:170px;
    padding-top: 15px;
    position: fixed;
    z-index: 1;
}

    #noti_Container {
        position:relative;
        
    }

    #inner_noti{
        height:35px;
        border-bottom:solid 1px rgba(100, 100, 100, .30); 

    }
       
   
    #noti_Button {
        width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
        background:#32CD32;
        margin:-3px 10px 0 10px;
        cursor:pointer;
        z-index: 2;
    }
        
  
    .noti_Counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin:-8px 0 0 25px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
        height: 15px;
        width: 15px;
    }
        
  
    #notifications {
        display:none;
        width:430px;
        position:absolute;
        top:30px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 0;
    }
  
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }
        
    .noti_title {
        display:block;
        color:#333; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }
        
    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:black;
    }
    .seeAll 
.notification_area{
    margin-left:100px;
}
a:hover {
            background:#F6F7F8;
        
        text-decoration:underline;

    }

