body
{
	background-color:#E6E6E6;
}

.row1 table, .row2 table, .row3 table, .row4 table
{
	padding-left:350px;		
}

.row1 td
{
	padding-right:100px;
}

.row2 td
{
	padding-right:170px;
	padding-bottom:50px;
} 

.row3 td
{
	padding-right:100px;
	padding-left:50px;
	
}

.row4 td
{
	padding-left:50px;
} 