fieldset {
  padding: 1em;
  /*font:80%/1 sans-serif;*/
  }
  
 table{
	border: none;
	background-color:#ffffff;
}
th, td{
	height: 35px;
	text-align: left;
	vertical-align:center;
	padding-left:8px;
}

.header img {
  float: left;
  width: 300px;
  height: 200px;
  
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
.inputField
{
    width: 280px;
    padding: 4px;
}

label
{
    float: left;
    width: 150px;
    font-weight: bold;
}
input[type=text] {
    width: 130px;
	height: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 50%;
}
input[type=button] {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;

}



 body
 {
	background-color:#38FFB9;
	color:#000305;
	font-size:18px;
	font-family:Calibri;
	line-height:1.5;
	text-align:left;
 }
 a
 {
	text-decoration:none;
 }
    
 .body
 {
	margin:0 auto;
	width:90%;
	clear:both;
 }
 /*a:link, a:visited{
	color:#CF5C3F;
 }
 
 a:hover, a:active{
	background-color:#CF5C3F;
	color:#ffffff;	
 }*/
 
 .mainHeader img
 {
	width:30%;
	height:auto;	
 }
 .mainHeader nav
 {
	background-color:#000000;
	height:40px;
	
 }
 .mainHeader nav ul
 {
	list-style:none;
	margin:0px auto;
 }
 .mainHeader nav ul li{
	display:inline;
	float:left;
 }
 .mainHeader nav a:link, .mainHeader nav a:visited
 {
	color:#FFFFFF;
	display:inline-block;
	padding: 10px 30px;
	height:20px;
 }
 .mainHeader nav a:hover, .mainHeader nav a:active
 {
	background-color:#E60000;
	text-shadow:none;
 }
 
 .mainContent{
	line-height:25px;
 }
 .content{
	width:80%;
	float:right;
 }
 
 .topContent{
	background-color:#FFFFFF;	
	padding:10px 20px;
	margin-top:10px;
 }
 .topContent.slideShow{
	position:relative;
	box-shadow:0 0 20px rgba(0,0,0,0.4);
 }
 .topContent.slideShow div{
	position:absolute;
	
 }
 
 .bottomContent{
	background-color:#FFFFFF;	
	padding:10px 20px;
	margin-top:10px;
 }
 
 .topSide{
	background-color:#ffffff;
	width:13%;
	float:left;
	margin-left:1%;
	padding: 1% 2%;
	margin-bottom:1%;
	margin-top:1%;
 }
 
 
 .bottomSide{
	background-color:#ffffff;
	width:25%;
	float:right;
	margin-left:1%;
	padding: 1% 2%;
	margin-bottom:0;
 }
 .mainFooter{
	width:100%;
	float:left;
	background-color:#000000;
	margin-top:1%;
	margin-bottom:1%;
 }
 .mainFooter p{
	width:92%;
	height:40px;
	margin: 10px auto;
	color:#ffffff;
 }
 
 @media only screen and (min-width:150px) and (max-width:600px)
{
	.body{
		width:90%;
		font-size:95%;
	}
	.mainHeader{
		width:100%;		
	}
	.mainHeader img{
		width:100%;
	}
	.maiHeader nav{
		height:160px;
	}
	.maiHeader nav ul{
		padding-left:0px;
		
	}
	.maiHeader nav ul li{
		width:100%;
		text-align:center;
	}
	.maiHeader nav a:link, .maiHeader nav a:visited{
		padding:10px 25px;
		height:20px;
		display:block;
	}
	.content{
		width:100%;
		float:left;
		margin-top:2%;
	}
	
	.topContent{
		margin-bottom:4%;
		background-color:#FFFFFF;
		padding:10px 20px;	
	}
	.bottomContent{
		margin-top:3%;	
	}
	.topSide, .middleSide, .bottomSide {
		width:94%;
		margin-left:0;
		padding: 2% 3%;
	}
	
}  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 