.type {
    width: 280px;
    padding: 4px;
    
}

ul {
 list-style-type: none;
 list-style-position: inside;
 margin: 0 0 3px 0;
 }
#medicineList {
    background-color: lavender;
    width: 280px;
    left: 260px;
    position: relative; 
    
}
#supplierList {
    background-color: lavender;
    width: 280px;
    left: 815px;
    
    
    
}
.type {
    width: 280px;
    padding: 4px;
    
}
.overViewTable
{
    width: 900px;
    border: 0px solid rgb(255,232,57);
    margin:auto;
}

.overViewTable tr
{
    padding: 7px;
}

.overViewTable td
{
    padding: 4px;
    border: 1px solid #E3E3E3;
}
.inputField
{
    width: 280px;
    padding: 4px;
}
.drugBox {
    width: 280px;
    padding: 4px;
}
label
{
    float: left;
    width: 200px;
    font-size: 18px;
}

fieldset{
  border: none;
  width: 600px;
  margin:auto;
  text-align: center;
  border: 2px solid rgb(106,184,42);
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(229, 249, 212);
 
}
#entryDate {
    width: 165px;
}
.customer_template_container {
    padding-left:13px;
    padding-top:70px;
    
}
