
body{
    font-family: Arial, Helvetica, sans-serif;
}
.type {
    width: 280px;
    padding: 4px;
    
}

ul {
 list-style-type: none;
 list-style-position: inside;
 margin: 0 0 3px 0;
 }
#medicineList {
    background-color: lavender;
    width: 280px;
    position: absolute; 
    left: 550px;
      
}
#supplierList {
    background-color: lavender;
    width: 280px;
    left: 726px;
    
}
.type {
    width: 280px;
    padding: 4px;
    
}
.sortable
{
    width: 900px;
    border: 2px solid rgb(106,184,42);
    margin:auto;
    border-collapse: collapse;
}

.sortable tr
{
    padding: 7px;
   
    text-align: center;
 }
 .sortable tr:hover {
     background-color: rgb(229, 249, 212);
 }
.sortable th {
    padding: 8px;
    border: 1px solid rgb(106,184,42);
    text-align: center;
    background-color: rgb(214, 247, 185);
}

.sortable td
{
    padding: 8px;
    border: 1px solid rgb(106,184,42);
    text-align: center;
    
}
.inputField
{
    width: 280px;
    padding: 4px;
}
.drugBox {
    width: 280px;
    padding: 4px;
}
label
{
    float: left;
    width: 200px;
    font-size: 18px;
    
}

fieldset{
  border: none;
  width: 600px;
  margin:auto;
  text-align: center;
  border: 2px solid rgb(106,184,42);
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(229, 249, 212);
 
}
#entryDate {
    width: 280px;
    padding: 4px;
}

