.page-header {
    height: 70px;
}

#page-title {
    float: left;
}

.user-details {
    float: right;
    margin-top: 20px;
}

#user-name {
    font-weight: bold;
}

.nav-bar-vertical {
    width: 180px;
    float: left;
}

.table-col-max {
    width: 100%;
    padding: 10px;
}

.table-col-fixed {
    width: 180px;
}

.content {
    width: 100%;
}

.right-panels {
    width: 400px;
    float: right;
}
h2 {
    text-align:center; 
    color: #777777; 
    font-family: SourceSansPro;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}