body{
    font-family: Arial, Helvetica, sans-serif;
}
.radio-left {
    float: left;
}
.customer_template_container {
    padding-left:13px;
    padding-top:20px;
 }
fieldset{
  border: none;
  width: 600px;
  margin:auto;
  text-align: center;
  border: 2px solid rgb(106,184,42);
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(229, 249, 212);
 
}
table {
    margin-left: 70px;
    
}