/*Navigation Bar*/

a{
    text-decoration: none;
}

header{
    background-color: #484141;
    height: 50px;
    margin-left: -8px;
    margin-top: -8px;
    width: 1349px;
}

.logo{
    width: 200px;
    height:auto;
    margin-top: 2px;
    margin-left: -15px;
    margin-right: 70px;
}

header nav ul{
    list-style: none;
    margin:auto;
    
}

header nav ul li{
    display: inline;
    float:left;
    
}

header nav a {
    color:#ffffff;
    display:inline-block;
    padding: 10px 15px;
    height:30px;
    font-size: 18px;
}

header nav a:hover{
    background-color: black;
}


.user a:hover{
  background-color:#484141;
  color: #6bc91a;
}

/*Login form*/ 

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 280px;
  position: fixed;
  width: 250px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 20%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #66B223;
  padding: 10px;
  font-size: 18px;
  display: block;
  width: 99%;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.formholder input[type="submit"]:hover {
  background: #61A526;
}

.login_bottom a:hover{
    text-decoration: underline;
    background-color: #ecf0f1;
}

.dropdown-content{
    position: absolute;
    display: none;    
    background-color: #f9f9f9;
    min-width: 150px;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -17px;
    margin-left: 20px;
}

.dropdown-content a{
    color: black;
    padding-left: 40px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
.dropdown-content a:hover{
  background-color: #f1f1f1;
  color: black;
}

.show {
  display:block;
}
